body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.nav-sec {
  display: flex;
  justify-self: center;
  padding-left: 15%;
}
.nav-sec-1 {
  font-size: 32px;
  font-weight: 700;
}
.nav-sec-1-s {
  color: rgb(235, 104, 56);
}
ul {
  font-size: 14px;
  font-weight: 100;
  padding-top: 30px;
  padding-left: 44%;
}
.nav-il-1 {
  padding-left: 30px;
  padding-right: 40px;
}
.nav-il-2 {
  color: white;
  background-color: rgb(235, 104, 56);
  text-decoration: none;
  padding: 14px 30px;
  border-radius: 5px;
}

.section-1 {
  display: flex;
}
.mid-section {
  width: 28%;
  font-weight: 700;
  padding-left: 15%;
  margin-top: 6%;
}
.mid-h1-1 {
  font-size: 30px;
  height: 20px;
}
.mid-h1-2 {
  font-size: 70px;
  height: 20px;
}
.mid-p {
  font-size: 14px;
  font-weight: 300;
  color: rgba(54, 52, 52, 0.631);
  padding-top: 25px;
  padding-bottom: 25px;
}
.mid-section img {
  width: 150%;
  height: 90%;
}
.download-cv-1,
.download-cv-2 {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(235, 104, 56);
  padding: 14px 26px;
  border-radius: 5px;
}
.banner {
  background-image: url(images/developer.png);
  background-repeat: no-repeat;
  margin-top: 10px;
}

.about-me {
  margin-top: 200px;
  margin-bottom: 200px;
}
.about-me-1 {
  font-size: 28px;
}
.about-me-1,
.about-me-2 {
  text-align: center;
}
.about-me-2 {
  font-size: 14px;
  font-weight: 300;
  color: rgba(54, 52, 52, 0.631);
  padding-left: 17%;
  padding-right: 17%;
  margin-top: 50px;
  margin-bottom: 5px;
}
.about-me-3 {
  display: flex;
  font-size: 16px;
  text-align: center;
  padding-left: 21%;
}
.about-me-3-1 {
  padding-right: 80px;
}
.about-me-3-1-1 {
  color: rgba(54, 52, 52, 0.631);
  margin-bottom: -20px;
}
.about-me-3-1-2 {
  font-weight: 700;
}
.do {
  margin-bottom: 180px;
}
.do-1 {
  display: flex;
  padding-left: 10%;
  margin-top: 80px;
}
.do-1-1 img {
  width: 35px;
}
.do-1-1 {
  padding-right: 8%;
}
.do-1-1-1 {
  font-size: 14px;
  font-weight: 700;
}
.do-1-1-2 {
  font-size: 12px;
  font-weight: 300;
  color: rgba(54, 52, 52, 0.631);
}
.summary {
  margin-top: 25%;
  margin-bottom: 15%;
}
.summary-1 {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
}
.summary-1-1 {
  padding-right: 10px;
}
.summary-p-1,
.summary-p-2,
.summary-p-3 {
  font-weight: 700;
}
.summary-p-1 {
  font-size: 16px;
}
.summary-p-2 {
  font-size: 20px;
  margin-bottom: -10px;
}
.summary-p-3,
.summary-p-4 {
  color: rgba(54, 52, 52, 0.631);
}
.summary-p-3 {
  font-size: 16px;
}
.summary-p-4 {
  font-size: 14px;
  font-weight: 300;
}
.download-cv-2 {
  margin-top: px;
  margin-left: 560px;
}

.bottom {
  display: flex;
  margin-top: 200px;
  margin-bottom: 40px;
}
.bottom-1 {
  width: 26%;
  padding-left: 250px;
  margin-right: 80px;
}
.bottom-1-1 {
  font-size: 28px;
  font-weight: 700;
}
.bottom-1-2 {
  font-size: 16px;
  font-weight: 300;
  color: rgba(54, 52, 52, 0.631);
  margin-top: 50px;
  margin-bottom: 15px;
}
.bottom-2 {
  margin-left: 50px;
}
.bottom-2 h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 60px;
}
.bottom-2-2-1,
.bottom-2-2-2 {
  width: 300px;
  height: 80px;
  padding-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.bottom-2-2-2 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.bottom-2-3 {
  width: 300px;
  height: 120px;
  padding-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.submit-button {
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: rgb(235, 104, 56);
  margin-left: 54%;
  margin-bottom: 40px;
  padding: 16px 24px;
  border: none;
  border-radius: 5px;
}
